body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: white;
    
}

header {
    background-color: blue;
    color:white;
    text-align: center;
    padding: 20px;
}


.campaign-info, .schedule, .call-to-action {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(233, 222, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campaign-info h2, .schedule h2, .call-to-action h2 {
    color: rgb(127, 127, 221);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
    margin-bottom: 10%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 90%;
    height:3%
    
}
.img
{
    display: block;
    background-size: cover;
}
.dental{
    width:1000px;
    height: 500px;
}
section{
    margin-bottom: 90%;
}
#one{
    margin-bottom: 39%;
}